.table {
    min-width: 1000px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 500px;  
    border: 1px solid #7d89cd;
    border-radius: 10px;
    overflow: auto;
    scrollbar-color: #7d89cd  #fffffff7;
    scrollbar-width: auto;
    display: flex;
}
.table::-webkit-scrollbar {
  background-color: #001520;
  height: 15px;
  width: 15px;
}
.table::-webkit-scrollbar-thumb {
  background-color: #7d89cd ;
}
.table__inner {
    display: flex;
    height: 100%;
}
.table__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.table__header {
    display: flex;
    width: 100%;
    background: #7d89cd;
    position: sticky;
    top: 0;
    z-index: 1;
}
.table__content {
    display: flex;
}
.table__column {
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    flex-grow: 1;
}
.table__column:nth-of-type(2n) {
    background: #7d89cd21;
}
.table__cell {
    min-height: 50px;
    max-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    flex-grow: 1;
    box-sizing: border-box;
}
.table__cell:nth-of-type(2n) {
    background: #bac2f1;
}
.cell__img {
    width: 25px;
    height: 25px;
    padding: 10px;
}
.cell__input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #bac2f1;
    padding: 0px 5px;
}
.cell__content {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell__label {
    position: absolute;
    top: -100px;
    background: #fff;
    border-radius: 5px;
    font-size: 11px;
    box-shadow: 0px 0px 5px 4px #00000036;
    padding: 4px;
}
.table__sidebar {
    display: flex;
    flex-direction: column;
    max-width: 28px;
    left: 0;
    position: sticky;
    background: #7d89cd;
    z-index: 1;
}
.table__sidebar_cell {
    max-width: 7px;
    min-width: 7px;
}